/* Write your CSS here */
.crypto-app-container {
  background-color: #000;
  min-height: 100vh;
  font-family: 'Roboto';
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
